black
fastapi
uvicorn
flake8
pytest
python-dotenv
pgvector
psycopg2-binary
python-multipart
docling
loguru
transformers
sentence-transformers
tqdm
sqlalchemy
passlib[bcrypt]
python-jose
langchain
langchain-core
langchain-community
alembic
langchain_ollama
isort
pydantic-settings
factory_boy